# Compiled class files
*.class

# Log files
*.log

# Build artifacts
*.jar
*.war
*.ear
*.zip
*.tar.gz

# IDE-specific files
.classpath
.project
*.iml
.settings/
.idea/

# Test results
test-results/
target/

# Temporary files
*~ 